@import 'mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  margin: 0;
  padding: 0;
}


body{
  background-color: #f9fafe;
  max-width: 375px;
  width: 100%;
  height: 100%;
}

.app{
  display:flex ;
  position:relative ;
}

.mainbox{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



//-----------------------------------------------//
//call to action box

.bg-box1{ // call to action & circle img
  @include controlBox;
  display: flex;
  justify-content: center;
  max-width: 375px;
  width: 100%;
  height: 100%;
  background-color:#f1f5fe;
  border-radius:0px 0px 0px 125px;
}

.total-first-box{ //all the boxes
  //@include controlBox;
  width: 100%;
  height: 350px;
  max-width: 375px;
  
}

  .first-call-to-action{ // total call to actions
  //@include controlBox;
    position: absolute;
    padding-top: 25%;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

    .firstheader{ //big size call to action
    //@include fontParag;
    @include fontParag;
    color:hsl(227,35%,25%); //Dark Desaturated Blue (Text & CTA Background)
    font-size: 1.45rem;
    line-height: 1.5;
    }

    .maincallin{ //small size call to action
      //@include controlBox;
      @include fontAll;
      color:hsl(225, 20%, 60%);
      text-align: center;
      display: flex;
      flex-direction: column;
      line-height: 1.5;
      font-size: 1.05rem;
    }

    .circle-pattern{ //circle svg
      //circle image
      //@include controlBox;
      display: flex;
      justify-content: center;
      padding-top: 16%;
      
    }

//call to action box end
//-----------------------------------------------//

.card-box{ // main box of  funciton & list & button
  @include controlBox;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin:4%;
  top: 60%;
  width: 92%;
  height: 450px;
  box-shadow: 0px 10px 0 0 whitesmoke;
  background-color: hsl (0, 0%, 100%);
}

  .pageviewbox{ //total function num and h2
    @include controlBox;
    display: flex;
    @include fontParag; 
    flex-direction: row;
    margin-top:5%;
    margin-bottom:5%;
    justify-content:center;
  }
 

    .changingnum{ //function number style
      @include controlBox; 
      color:hsl(225, 20%, 60%);
      line-height: 1.5;
      margin-right:5%;
    }

    .boxhead{ // span2
      @include controlBox;
      color:hsl(225, 20%, 60%);
      line-height: 1.5;
      text-transform:uppercase;
    }



//-----------------------------------------------//
// slider box starts

.pricebarfullbox{ // function slider & list 
  //@include controlBox;
  @include fontAll;
  background-color: hsl(0, 0%,100%); //White (Pricing Component Background)
}

//slider style starts
  .pricebar{ //slider
    @include controlBox;
    
  }

  .MuiSlider-root.MuiSlider-colorPrimary.MuiSlider-sizeMedium.css-1sv6iah-MuiSlider-root{
    border-radius: 10px !important;
    height: 6px !important;
    
  }

  .css-14pt78w-MuiSlider-rail {
    background-color: hsl(224, 65%, 95%) !important;
  }

  .MuiSlider-colorPrimary { //slider colour
    //@include controlBox;
    color:hsl(174, 86%, 45%)!important; //Strong Cyan (Slider Backround)
  }

  .MuiSlider-thumb{ //slider ball
    //@include controlBox;
    color:hsl(174, 86%, 45%)!important; //Soft Cyan (Full Slider Bar)
  }

  .MuiSlider-thumb.MuiSlider-thumbSizeMedium.MuiSlider-thumbColorPrimary.MuiSlider-thumb.MuiSlider-thumbSizeMedium.MuiSlider-thumbColorPrimary.css-jx1sa5-MuiSlider-thumb ::before{
    box-shadow: 0px  !important;
   }
  .MuiSlider-thumb.MuiSlider-thumbSizeMedium.MuiSlider-thumbColorPrimary.MuiSlider-thumb.MuiSlider-thumbSizeMedium.MuiSlider-thumbColorPrimary.css-jx1sa5-MuiSlider-thumb ::after{
   box-shadow: 0px 7px 0px 0px rgba(14,203,184,0.57) !important;
  }

  .billingbox{
    display: flex;
    //@include controlBox;
    flex-direction: column;
  }

  .billbox{
    @include controlBox;
    @include fontParag;
    margin:5%;
    color:hsl(227, 35%, 25%);
  }

  .bigpag, .changingnumwp {
    font-size: 20px;
  }

  .littlepag{ 
    color:#868da2;
  }

  .toggle-f-b{
    display: flex;
    flex-direction: row;
    align-items: center;;
    justify-content: space-around;
    @include controlBox;
    @include fontAll;
    font-size: 14px;
    color:#868da2;
    padding:5%;
    
  }

  
  
  .red-r-b{
    padding:2px 9px 2px 9px;
    border-radius: 12px;
    background-color: hsl(14, 92%, 95%);
    color:hsl(15, 100%, 70%);

  }

  .showinbig{
    display: none;
  }



//slider style ends

//-----------------------------------------------//

//toggle button and discount box starts

.billingbox{
  @include controlBox;

  .bigpag{
    @include controlBox;

    .changingnumwp{
    @include controlBox;
    }
  }

  .littlepag{
    @include controlBox;
  }

  .simplepag{
    @include controlBox; 
  }

  .chaningcomp{ 
    //toggle button
    @include controlBox;
  }
}
//toggle button end

//-----------------------------------------------//

//toggle button and discount box starts
    
.emptydiv{
  @include controlBox
}

//last box starts
.lastbox{
  //@include controlBox;
  @include fontAll;
  text-transform:none;
  text-align: center;
  color:hsl(225, 20%, 60%);
}

  .lastboxlist{    
    //@include controlBox;
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 35px;
   
  }

  .listitems1{
    //@include controlBox;
    display: flex;
    margin: auto;

  }

  .listitems2{
    //@include controlBox;
    display: flex;
    margin: auto;
    
  }

  .listitems3{
   @include controlBox;
   display: flex;
   margin: auto;
   width: 40px;
   height:40px;
   
  }



  .boxing{
   width: 25px;
   height: 25px;
   

    @include controlBox;
  }


.css-1w1rijm-MuiButtonBase-root-MuiButton-root{
  font-family: "Manrope";
  border-radius: 15px !important;
  background-color: hsl(227, 35%, 25%) !important;

}
  
//-----------------------------------------------//
//media query
  @media only screen and (max-width: 1440px){ 
  }

