@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@mixin controlBox{
  border:1px solid red;
}

/* font url */
//@font-face {
 // font-family: "Manrope", sans-serif;
 // font-optical-sizing: auto;
 // font-style: normal;}



@mixin fontAll(){
  text-align: center;
  font-weight: 600;
  font-family: "Manrope";
  font-optical-sizing: auto;
  font-style: normal;
}

/*front page style*/
@mixin fontParag(){
  text-align: center;
  font-weight: 800;
  font-family: "Manrope";
  font-optical-sizing: auto;
  font-style: normal;
}




/* other sizes */
@mixin mobileSize(){
width: 375px;
}

@mixin destopSize(){
width: 1440px;
}

@mixin colourChart(){

}