@import url('https://fonts.google.com/specimen/Manrope');

@mixin controlBox{
  border:1px solid red;
}

@mixin fontAll(){
  font-size: 11px;
  text-align: center;
  font-weight: 600;
  font-family: [Manrope];
 
}

@font-face manrope() {
  font-family: 'Manrope';
  src: local('Manrope'), url(./font/Manrope-VariableFont_wght.ttf) format('truetype');
}

@mixin fontParag(){
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  font-family: [Manrope];

}

@mixin mobileSize(){
width: 375px;
}
@mixin destopSize(){
width: 1440px;
}
@mixin colourChart(){

}